<h2>List of ratings</h2>

<p>number of ratings <%= @ratings.count %></p>

<ul>
  <% @ratings.each do |rating| %>
    <li> <%= link_to rating %>
    	<% if not rating.user.nil? %>
    		, by <%= link_to rating.user.username, rating.user%>
    	<% end %>
    </li>
  <% end %>
</ul>

<%= link_to 'New Rating', new_rating_path %>