<h2>List of ratings</h2>

<p>number of ratings <%= @ratings.count %></p>

<table class="table table-hover">
  <% @ratings.each do |rating| %>
    <tr> <td><%= link_to rating, ratings_path(rating) %>
    	<% if not rating.user.nil? %>
    		, by <%= link_to rating.user.username, rating.user%>
    	<% end %></td>
    </tr>
  <% end %>
</table>

<%= (link_to 'New Rating', new_rating_path, :class => "btn btn-primary") if current_user %>