<h1>Listing styles</h1>

<table class="table table-hover">
  <thead>
    <th>Name</th>
    <th>Description</th>
    <th></th>
    <th></th>
    <th></th>
  </thead>

<% @styles.each do |style| %>
  <tr>
    <td><%= link_to style.name, style  %></td>
    <td><%= style.description %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Style', new_style_path, :class => "btn btn-primary" %>
